[submodule "vim/bundle/vim-swift"]
	path = vim/bundle/vim-swift
	url = https://github.com/toyamarinyon/vim-swift
[submodule "vim/bundle/vim-ps1"]
	path = vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1
